<div class="toolbar" role="banner">
    <h3 class="bg-success">Update your Password</h3>
    </div>
    <div *ngIf="error" class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>{{error}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>
  <div *ngIf="sucess" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{sucess}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
<form [formGroup] = 'passwordform' (ngSubmit)="changepassword()">
  <h2>Change your Password</h2>
  <label>Current Password</label>
  <input type="password" formControlName = "opassword" class="form-control" name="opassword" placeholder="Current Password"><br>
  <p class="error" *ngIf="opassword && opassword.invalid && opassword.touched" >Enter Old password</p>
  <label>New Password</label>
  <input type="password" formControlName = "npassword" class="form-control" name="npassword" placeholder="New Password"><br>
  <p class="error" *ngIf="npassword && npassword.invalid && npassword.touched" >Enter New password</p>
  <button [disabled] = "passwordform.invalid"  class="submit " type="submit" mat-button color="accent">Change Password</button><br>
  
</form>
<button  class="submit " (click)="close()" mat-button color="warn">Cancel</button><br>

