<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mail</title>
    <style>
        .form{
    background-color: antiquewhite;
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-align: center;
padding: 10px;
margin: 10px 4px;
}

    </style>
</head>
<body>
  
    <div class="form">
    <h4>You are Registered in the App.Now you can login with password Generated.</h4>
    <h2>Change your password after Login</h2>
    <span>Your password is <b>{{password}}</b></span>
    </div>
</body>
</html>