<div class="toolbar" role="banner">
  <span><h1>App</h1></span>
  <input type="hidden" #selection>
  <div id="reglognav">
    <button class="navbutton btn btn-primary" ><a routerLink="/Home" routerLinkActive="active">Home</a></button>
    <button class="navbutton btn btn-primary" ><a routerLink="/Register" routerLinkActive="active">Register</a></button>
    <button class="navbutton btn btn-primary" ><a routerLink="/Login" routerLinkActive="active">Login</a></button>
  </div>
</div>

<router-outlet></router-outlet>
