<div class="container m-auto" style="text-align:center;" >
    <div class="col-md-12" >
        <button id="close" mat-button  color="warn" (click)="cancel()"><mat-icon>clear</mat-icon></button>
        <button *ngIf="imagechange  && imagefiles && !cropped" mat-button color="accent" (click)="preview()">Crop image</button>
        
        <div *ngIf="imagefiles && previews"  style="float:right;">
            <button mat-button color="accent"   (click)="remove()">Remove</button>
            <image-cropper
            [imageChangedEvent]="imageEvent"
            [aspectRatio]="4/4"
            [maintainAspectRatio]="true"
            [resizeToWidth]="256"
            format="jpeg"
            (imageCropped)="cropImg($event)"
            (imageLoaded)="imgLoad()"
            (cropperReady)="initCropper()"
            (loadImageFailed)="imgFailed()"
            >
            </image-cropper>
        </div>
        <button id="upload" mat-raised-button color="primary"  (click)="file.click()">Upload Photo</button>
        <button id="upload" *ngIf="!imagechange && !imagefiles " (click)="deleteprofile(user._id,user.profileimage.profile,user.profileimage.cropimg)" mat-raised-button color="warn">Delete Photo</button>
        <form [formGroup]="uploadForm"  (submit)="postimage(user._id,uploadForm.value)">
          
            <img *ngIf="!imagechange && !imagefiles"  src="../../assets/{{user.profileimage.cropimg}}?../../assets/{{user.profileimage.cropimg}}:../../assets/{{user.profileimage.profile}}" width="300px" height="300px" alt=""><br><br>
            
            <img *ngIf="imagechange  && imagefiles && !cropped"   [src]="newimage" width="300px" height="300px" alt=""><br><br>
            <img *ngIf="cropped"   [src]="cropImgPreview" width="300px" height="300px" alt=""><br><br>
            <input style="display: none;"  type="file" #file ngModel class="form-control"   name="images" (change)="filers($event)"> <br>
          <input style="display: none;" type="file" name="cropimg">
         
            <button [disabled]="uploadForm.invalid" mat-raised-button color="primary"  type="submit" class="btn " style="color: white;" >Save Changes</button><br><br>
        </form> 
    </div>
</div>

