<div>
    <img src="">
    <h3><span style="text-transform: uppercase;">{{user.Firstname}}</span> Profile</h3>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="profile">
                   <img *ngIf="show" src='../../assets/{{user.profileimage.cropimg}}?../../assets/{{user.profileimage.cropimg}}:../../assets/{{user.profileimage.profile}}' alt="Upload Image" width="100px" height="100px">
                   <img *ngIf="!show" src="../../assets/default.jpg" width="100px" height="100px">
               <img class="responsive-img" src="../../assets/camera.png.png" (click)="open()" width="35px" height="35px">
                </div>
        <h4 style="text-align: center;text-transform: uppercase;font-size: larger;font-weight: 600;">{{user.Firstname}} {{user.Lastname}}</h4>
        <h5 style="font-weight: 600;text-transform: uppercase;">Personal Details</h5>
        <p style="text-transform: capitalize;">name:{{user.Firstname | uppercase}} {{user.Lastname | uppercase}}</p>
        <p style="text-transform: capitalize;">proffession:{{user.Proffession | uppercase}}</p>
        <p>Email:{{user.Email | lowercase}}</p>
        <p>Date of Birth:{{user.dateofbirth }}</p>
        <p>Gender:{{user.Gender}}</p>
    </div>
     <div class="col-md-8">
        <div class="course">
            <h3>Add your Qualification</h3>
            <div class="form">
                <div class="form-row">
                    <form #Form="ngForm" (ngSubmit)="addcourse(user._id,dataarray)" class="form">
                        <table class="tablerow">
                            <thead>
                                <th> <label>Course name</label></th>
                                <th> <label>Institute</label></th>
                                <th> <label>Percentage</label></th>
                            </thead>
                            <tbody *ngFor="let data of dataarray ;let i =index">
                                <tr>
                                    <td><input type="text" required placeholder="course name" #name="ngModel"
                                            name="name{{i}}" [(ngModel)]="data.name" ngModel></td>
                                    <td> <input type="text" required placeholder="institute" #institute="ngModel"
                                            name="institute{{i}}" [(ngModel)]="data.institute" ngModel></td>

                                    <td> <input type="text" required placeholder="Percentage" #percentage="ngModel"
                                            name="percentage{{i}}" [(ngModel)]="data.percentage" ngModel></td>
                                    <button *ngIf="i!=0" (click)="remove(i)" class="btn btn-danger btn-sm buton"><i
                                            class="bi bi-trash-fill"></i></button>
                                </tr>
                                <tr>
                                    <td class="error"><span *ngIf="name.invalid && name.touched">Enter Course
                                            Name</span></td>
                                    <td class="error"><span *ngIf="institute.invalid && institute.touched">Enter
                                            Institute
                                            name</span></td>
                                    <td class="error"><span *ngIf="percentage.invalid && percentage.touched">Enter
                                            Percentage
                                        </span></td>
                                </tr>

                            </tbody>
                            <a (click)="add()" class="btn btn-success btn-sm butones"> <i class="bi bi-plus-square"></i>
                                Add
                                fields</a>
                        </table>
                        <br><br>
                        <button class="btn btn-primary btn-sm butons" type="submit" [disabled]="Form.invalid">Save
                            Changes</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="table">
    <table class="table">
        <thead>
            <th>sl.no</th>
            <th>Course name</th>
            <th>Institute</th>
            <th>Percentage</th>
            <th>Actions</th>
        </thead>
        <tbody *ngFor="let users of result; let i =index">
            <td>{{i+1}}</td>
            <input type="hidden" name="editid" [(ngModel)]="users._id">
            <td>{{users.coursename}}</td>
            <td>{{users.Institute}}</td>
            <td>{{users.percentage}}</td>
            <td>
                <a style="color: green;cursor: pointer;" (click)="edit(users._id,users)">Update</a>
                <a style="color: red;cursor: pointer;" (click)="close(user._id,users._id)">Delete</a>
            </td>
        </tbody>
    </table>
</div>
<div class="from2">
    <form #form="ngForm" (ngSubmit)="updatecourse(user._id,form.value)" *ngIf="editdata">
        <input type="hidden" placeholder="editid" [(ngModel)]=editdata._id name="editid" class="form-control"><br>
        <label>Course name</label>
        <input type="text" ngModel placeholder="course name" required #name="ngModel" ngModel
            [(ngModel)]=editdata.coursename name="name" class="form-control"><br>
        <span class="error" *ngIf="name.invalid && name.touched">Course Name is Required</span><br>
        <label>Institute</label>
        <input type="text" ngModel placeholder="institute" required #ins="ngModel" ngModel
            [(ngModel)]=editdata.Institute name="institute" class="form-control"><br>
        <span class="error" *ngIf="ins.invalid && ins.touched">Institute name is required</span><br>
        <label>Percentage</label>
        <input type="text" ngModel placeholder="Percentage" required #per="ngModel" ngModel
            [(ngModel)]=editdata.percentage name="percentage" class="form-control"><br>
        <span class="error" *ngIf="per.invalid && per.touched">Percentage is Required</span><br>
        <button [disabled]="!form.valid" class="btn btn-success">Update</button>
    </form>
</div>