.box{
    background-color: azure;
    padding: 10px;
    margin:10% 40%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 30%;
    text-align: center;
    }
    .btn{
        padding: 5px;
        margin: 5px;
    }