.box{
    background-color: azure;
    padding: 10px;
    margin:10% auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    text-align: center;
    }
    .btn{
        padding: 5px;
        margin: 5px;
    }